main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchWrap {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

#searchWrap>input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 30vw;
}

#searchWrap>img {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--TransparentGray);
    padding: 0px 10px;
}

#jobsWrap {
    width: 70vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

# Développé avec ❤️ par : www.noasecond.com.

/* Développé avec ❤️ par : www.noasecond.com. */