header {
    display: flex;
    position: fixed;
    z-index: 99;
    top: 0;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    background-color: white;
    box-shadow: 0px 3px 5px 0px #0000005c;
}

header>* {
    padding: 10px 20px;
}

#headerLeft {
    width: 0;
}

#headerLeft>a>img {
    height: 100%;
}

#headerLeft>#phoneMenu {
    display: none;
}

#headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#headerRight>a {
    margin: 0 20px;
    text-decoration: none;
    color: var(--Black);
    font-size: 1rem;
    border-bottom: transparent 2px solid;
    transition: ease-in-out 0.25s;
}

#headerRight>a:not(:last-of-type):hover {
    border-bottom: var(--DarkScarlet) 2px solid;
}

#headerRight>a:last-of-type {
    border-radius: 5px;
    padding: 15px 25px;
    background-color: var(--SpiroDiscoBall);
    color: var(--White);
}

#headerRight>a:last-of-type:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* © AIMA DEVELOPPEMENT 2024 */