header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 12vh;
    background-color: var(--TransparentGray);
}

header>* {
    padding: 10px 20px;
}

#headerLeft>a>img {
    height: 100%;
}

#headerLeft>#phoneMenu {
    display: none;
}

#headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#headerRight>a {
    margin: 0 40px;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    border-bottom: transparent 2px solid;
    transition: ease-in-out 0.25s;
}

#headerRight>a:not(:last-of-type):hover {
    border-bottom: var(--DarkScarlet) 2px solid;
}

#headerRight>a:last-of-type {
    border-radius: 5px;
    padding: 15px 25px;
    background-color: var(--SpiroDiscoBall);
    color: white;
}

#headerRight>a:last-of-type:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}