#elements {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

#elements>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#elements>div>img {
    width: 10vw;
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

#elements>div>img:hover {
    transform: scale(1.05);
}

#elements a {
    text-align: center;
    margin-top: 10px;
}
/* © AIMA DEVELOPPEMENT 2024 */