main {
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 20px;
}

p {
    width: 50%;
    padding: 0 30px;
}

p:last-child {
    margin-bottom: 50px;
}


/* Développé avec ❤️ par : www.noasecond.com. */