h2 {
    padding: 0px 40px;
}

h3 {
    padding: 0px 40px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section:last-child {
    margin-bottom: 50px;
}
/* © AIMA DEVELOPPEMENT 2024 */