/*----- VARIABLES -----*/
:root {
    --DarkScarlet: #5E031F;
    --SpiroDiscoBall: #17C9E6;
    --Onyx: #383D40;
    --TransparentGray: #bcbcbc38;
    --White: #fff;
    --Black: #000;
}

/*----- SCROLLBAR -----*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--Onyx);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--SpiroDiscoBall);
}

/* -----GENERAL----- */
html {
    overflow-x: hidden;
    background-color: var(--TransparentGray);
    color: var(--Black);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open-Sans', sans-serif;
    background-color: var(--White);
}

main {
    min-height: 59vh;
    width: 100vw;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    color: var(--Black);
}

/*----- COMPONENTS -----*/
/*Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--White);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--SpiroDiscoBall);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--SpiroDiscoBall);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Form*/
input,
textarea {
    border: none;
    background-color: var(--TransparentGray);
    border-radius: 5px;
    padding: 15px;
    resize: none;
}

input[type="submit"] {
    color: var(--White);
    background-color: var(--SpiroDiscoBall);
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

input[type="submit"]:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:active {
    transform: scale(0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}