/*----- VARIABLES -----*/
:root {
    --DarkScarlet: #5E031F;
    --SpiroDiscoBall: #17C9E6;
    --Onyx: #383D40;
    --TransparentGray: #bcbcbc38;
    --Alert: #ff6f64;
    --White: #fff;
    --Black: #000;
}

/*----- SCROLLBAR -----*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--Onyx);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--SpiroDiscoBall);
}

/* -----GENERAL----- */
html {
    overflow-x: hidden;
    background-color: var(--TransparentGray);
    color: var(--Black);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open-Sans', sans-serif;
    background-color: var(--White);
}

main {
    min-height: auto;
    width: 100vw;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    color: var(--Black);
}

h2 {
    font-size: 1.8em;
    font-weight: 500;
    color: var(--Black);
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--Black);
}

span.highlight {
    background-color: yellowgreen;
}

a, p {
    text-decoration: none;
}

/*----- COMPONENTS -----*/
/*Alert*/
.alert {
    padding: 20px;
    background-color: var(--Alert);
    color: white;
    border-radius: 10px;
}

/*Job*/
.job {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 20px;
}

.jobheader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.jobheader>a {
    font-weight: 600;
}

.jobheader>img {
    cursor: pointer;
    width: 15px;
    height: auto;
}

img.developed {
    transform: rotate(180deg);
}

.hiddenContent {
    display: none;
}

.hiddenContent.developed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 20px;
}

.job .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.job .applyLinkedin {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.job .applyLinkedin>img {
    margin-right: 10px;
}

.job .sendEmail {
    background-color: var(--SpiroDiscoBall);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.job .sendEmail>img {
    margin-right: 10px;
}

/*Card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.25s;
    width: 40%;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card>img {
    border-radius: 10px 10px 0px 0px;
}

.cardContainer {
    padding: 2px 16px;
}

/*Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--White);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--SpiroDiscoBall);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--SpiroDiscoBall);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Form*/
input,
textarea,
button {
    border: none;
    background-color: var(--TransparentGray);
    border-radius: 5px;
    padding: 15px;
    resize: none;
}

input[type="submit"],
button {
    color: var(--White);
    background-color: var(--SpiroDiscoBall);
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

input[type="submit"]:hover,
button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:active,
button:active {
    transform: scale(0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}