@media (max-width: 1000px) {
    .expertiseCard {
        width: 100vw;
        margin: 0 -5vw;
    }    
}

@media (max-width: 900px) {
    .expertiseCard {
        height: inherit;
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .expertiseCard#reversed {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .expertiseCard>div {
        width: 100% !important;
    }

    .expertiseCard>div:last-child>* {
        padding: 20px;
    }
}
/* © AIMA DEVELOPPEMENT 2024 */