@media (max-width: 900px) {
    .projectCard {
        width: 40vw;
        margin: 25px 0px;
    }
    
    .projectCard>img {
        width: 40vw;
        height: 40vw;
    }
}
/* © AIMA DEVELOPPEMENT 2024 */