# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.vsix

# Git
.gitattributes

# Folders
PHPMailer-6.9.1

# Files
debug.php
affected_files.txt
after_files.txt
before_files.txt
*.txt

.env
.history
.ionide