.projectHeader {
    display: flex;
    margin: 50px 0;
}

.projectHeader>*:not(.separator) {
    width: 50%;
    height: 300px;
    object-fit: cover;
}

.projectHeader>.content {
    background-color: var(--DarkScarlet);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.projectHeader>.content>a:nth-child(1) {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.projectHeader>.content>a:nth-child(2) {
    font-size: 1.2rem;
}

.separator {
    width: 10%;
    margin-left: -10%;
    background: linear-gradient(-80deg, rgba(94,3,31,1) 40%, rgba(94,3,31,0) 40%);
}
/* © AIMA DEVELOPPEMENT 2024 */