.slideshowContainer img {
    vertical-align: middle;
    max-height: 400px;
    object-fit: contain;
}

.slideshowContainer {
    position: relative;
    margin: 50px 0px;
}

.slideshowContainer .mySlides {
    display: none;
}

.slideshowContainer .cursor {
    cursor: pointer;
}

.slideshowContainer .prev,
.slideshowContainer .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--Black);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    user-select: none;
}

.slideshowContainer .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshowContainer .prev:hover,
.slideshowContainer .next:hover {
    background-color: var(--TrueBlue);
    color: var(--White);
}

.slideshowContainer .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: var(--DarkScarlet);
    border-radius: 0 0 5px 0;
}

.slideshowContainer .caption-container {
    text-align: center;
    background-color: var(--DarkScarlet);
    padding: 2px 16px;
    color: white;
}

.slideshowContainer .row {
    display: flex;
}

.slideshowContainer .row:after {
    content: "";
    display: table;
    clear: both;
}

.slideshowContainer .column {
    float: left;
    width: 100%;
}

.slideshowContainer .column img {
    transition: ease-in-out 0.25s;
}

.slideshowContainer .demo {
    opacity: 0.6;
}

.slideshowContainer .active,
.slideshowContainer .demo:hover {
    opacity: 1;
}

/* © AIMA DEVELOPPEMENT 2024 */
