@media (max-width: 900px) {
    form {
        flex-direction: column-reverse;
        margin: 10vh 10vw;
    }

    #formRight,
    #formLeft {
        width: 100%;
    }

    #formRight>div>* {
        width: 100%;
    }

    #formLeft>textarea {
        min-height: 100px;
    }

    #firstname {
        margin-bottom: 10px;
    }

    #lastname {
        margin-top: 10px;
    }
}
/* © AIMA DEVELOPPEMENT 2024 */