@media (max-width: 900px) {
    form {
        flex-direction: column-reverse;
        margin: 10vh 20vw;
    }

    #formRight,
    #formLeft {
        width: 100%;
    }

    #formRight>div>* {
        width: 35%;
    }

    #formLeft>textarea {
        min-height: 100px;
    }
}
/* Développé par Noa Second */