@media (max-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
    }

    #headerLeft {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #headerLeft>#phoneMenu {
        display: block;
        width: fit-content;
        cursor: pointer;
    }

    #headerLeft>a>img {
        height: 10vh;
    }

    #phoneMenu>img {
        height: 5vh !important;
    }

    #headerRight {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 99;
    }

    #headerRight>* {
        margin: 10px 0 !important;
    }
}