@media (max-width: 1200px) {
    #headerRight>a {
        margin: 0 25px;
        font-size: 1rem;
    }
}

@media (max-width: 1100px) {
    header {
        display: flex;
        flex-direction: column;
    }

    #headerLeft {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #headerLeft>#phoneMenu {
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        cursor: pointer;
    }

    #headerLeft>a>img {
        height: 10vh;
    }

    #phoneMenu>img {
        height: 5vh !important;
    }

    #headerRight {
        display: flex;
        flex-direction: column;
        background-color: var(--White);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 99;
        top: -10px;
    }

    #headerRight>* {
        margin: 10px 0 !important;
    }
}
/* © AIMA DEVELOPPEMENT 2024 */