@media (max-width: 700px) {
    #details>img#desktop {
        display: none;
    }

    #details>img#mobile {
        display: block;
        width: 60%;
    }

    #elements {
        justify-content: center;
        flex-wrap: wrap;
    }

    #elements>div {
        margin: 25px;
    }

    #elements>div>img {
        width: 75px;
    }
}